.laptop-img{
    flex-basis: 50%;
        min-width: 300px;
        display: block;
        margin-left: 40px;
       max-width: 100%;
       padding: 50px 0;
       height: 470px;
}
h1{
    margin-left: 20px;
}
.descriptionlap1{
    background-color: rgb(173, 186, 186);
    top: 40px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.descriptionlap2{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(255, 255, 255);
    top: 700px;
    left: 550px;
    width: 630px;
    height: 510px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.descriptionlap3{
    background-color: rgb(21, 12, 12);
    color: rgb(255, 255, 255);
    top: 1370px;
    left: 550px;
    width: 630px;
    height: 500px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.descriptionlap4{
    background-color: rgb(101, 92, 92);
    color: rgb(255, 255, 255);
    top: 2030px;
    left: 550px;
    width: 630px;
    height: 520px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description{
    background-color: rgb(173, 186, 186);
    top: 40px;
    left: 550px;
    width: 630px;
    height: 500px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description1{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(255, 255, 255);
    top: 800px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description2{
    background-color: rgb(21, 12, 12);
    color: rgb(255, 255, 255);
    top: 1450px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.description3{
    background-color: rgb(101, 92, 92);
    color: rgb(255, 255, 255);
    top: 2150px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description4{
    background-color: rgb(173, 186, 186);
    color:black;
    top: 2800px;
    left: 550px;
    width: 630px;
    height: 440px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description5{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(255, 255, 255);
    top: 3550px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description6{
    background-color: rgb(254, 104, 104);
    color: rgb(0, 0, 0);
    top: 5300px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.description7{
    background-color: rgb(101, 92, 92);
    color: rgb(0, 0, 0);
    top: 6300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description8{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(7, 7, 7);
    top: 7300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description9{
    background-color: rgb(254, 104, 104);
    color: rgb(0, 0, 0);
    top: 8300px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.description10{
    background-color: rgb(101, 92, 92);
    color: rgb(0, 0, 0);
    top: 9300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description11{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(7, 7, 7);
    top: 10300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description12{
    background-color: rgb(254, 104, 104);
    color: rgb(0, 0, 0);
    top: 11300px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.description13{
    background-color: rgb(101, 92, 92);
    color: rgb(0, 0, 0);
    top: 12300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description14{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(7, 7, 7);
    top: 13300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description15{
    background-color: rgb(254, 104, 104);
    color: rgb(0, 0, 0);
    top: 14300px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.description16{
    background-color: rgb(101, 92, 92);
    color: rgb(0, 0, 0);
    top: 15300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description17{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(7, 7, 7);
    top: 16300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description18{
    background-color: rgb(254, 104, 104);
    color: rgb(0, 0, 0);
    top: 17300px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
.description19{
    background-color: rgb(101, 92, 92);
    color: rgb(0, 0, 0);
    top: 18300px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description20{
    background-color: rgba(0, 0, 0, 0.663);
    color: rgb(7, 7, 7);
    top: 19100px;
    left: 550px;
    width: 630px;
    height: 480px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgb(117, 112, 112);
}
.description21{
    background-color: rgb(254, 104, 104);
    color: rgb(0, 0, 0);
    top: 20000px;
    left: 550px;
    width: 630px;
    height: 450px;
    position: absolute;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.367);
}
